/*Styling for the Reset and Help buttons at the bottom of the app*/
.bottomRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: middle;
    column-gap: 5rem;
}